.salign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calign {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
